@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background:linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.img-cabecalho{
    height: 72px;
}

.menu{
    display: flex;
    gap: 32px;
}

.item-menu{
    color: white;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.item-menu:hover{
    text-decoration: underline;
}